.container {
  position: absolute;
  left: 290px;
  top: 100px;
  height: 300px;
  width: 800px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.box {
  width: 230px;
  height: 290px;
  border-radius: 2px;
  background: whitesmoke;
  overflow-y: auto;
  overflow-x: hidden;
}
p {
  height: 30px;
  padding: 5px;
  background: white;
  margin: 5px 5px;
  border-radius: 2px;
}
.heading {
  width: 230px;
  height: 50px;
  margin: 0 0 5px 0;
  text-align: center;
  color: white;
  padding: 13px;
  box-sizing: border-box;
}
